<div class="pageheader">
  <h2>
    <i class="fa fa-list"></i> 
    Candidate's List
 </h2>
  <div class="col-sm-6 header-searchbox">
    <p class="input-group">
      <input type="text" placeholder="Search participant.." class="form-control col-sm-11" ng-keyup="checkEnter($event)" ng-model="searchKey">
      <span class="input-group-btn">
        <button type="button" class="glyphicon glyphicon-search search-btn-header" ng-click="searchParticipant()"></button>
      </span>
    </p>
  </div>
</div>

<alert type="danger" ng-show="showMessage" close="showMessage=false">
  {{message}}
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
</alert>
<div class="contentpanel">
  <!-- Pagination-->
  <pagination boundary-links="true" total-items="participants.length" items-per-page="itemsPerPage" max-size="10" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-striped mb30">
          <thead class="attender-list-padding">
            <tr>
              <th>Name</th>
              <th>Instructor's Name</th>
              <th>Age</th>
              <th>Weight</th>
              <th>Phone No</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="attender-list-padding">
            <tr ng-repeat="participant in participants">
              <td>{{participant.name}}</td>
              <td>{{participant.instructor}}</td>
              <td>{{participant.age}}</td>
              <td>{{participant.weight}}</td>
              <td>{{participant.contactNumber}}</td>
              <td class="action-td">
                <a class="btn btn-info cursor-pointer" ng-click="">
                  <i class="fa fa-eye icon"></i>View
                </a>
                <a class="btn btn-primary cursor-pointer" ng-click="">
                  <i class="fa fa-edit icon"></i>Edit
                </a>
                <a class="btn btn-warning cursor-pointer" ng-click="">
                  <i class="fa fa-warning icon"></i>Delete
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
