<div class="pageheader">
  <h2><i class="fa fa-trophy"></i> Dojo Mat-{{matId}}
  </h2>

  <!-- <div class="clock col-sm-4 col-sm-offset-4"></div> -->

  <div class="dojo-header-right">
    Set Event:
    <select class="form-control inline-box" ng-model="selectedEvent" ng-options="eventId.name for eventId in eventIds" ng-disabled="matchStarted">
      <!-- ng-change="getMatches()"
      <option value="{{eventId}}" ng-repeat="evenId in getEventIds">{{eventId}}</option> -->
    </select> Select Match:
    <div class="match-list">
      <input type="text" class="form-control inline-box select-match-box" placeholder="Player1 VS Player2" ng-disabled="matchStarted" ng-focus="showMatchList=true">
      <!-- ng-blur="showMatchList=false" -->

      <div ng-show="showMatchList" class="tag-suggestion search-result-box">
        <div class="search-result-close-block">
          <span class="search-result-close-text">Fixtures found : {{fixtureList.length}}</span>
          <span class="close" title="Close search result" ng-click="showMatchList=false">×</span>
        </div>
        <ul ng-show="fixtureList.length" class="chosen-results no-style" role="menu">
          <li ng-repeat="fixture in fixtureList" ng-click="getPlayers(fixture)">
            <div class="clear-both">
              <div class="col-sm-8 no-padding-left clearfix">
                <span>{{fixture.player1}}</span>
                <span class="vs">Vs</span>
                <span>,{{fixture.player2}}</span>
              </div>
            </div>
          </li>
        </ul>
        <div ng-hide="fixtureList" class="text-center">
          <span class="fa fa-spin fa-spinner no-special-styling"></span>
        </div>
      </div>

    </div> Set Timer:
    <span class="ui-spinner ui-widget ui-widget-content ui-corner-all">
      <input type="text" id="minute" class="ui-spinner-input time-input" ng-model="timerMinute" autocomplete="off" role="spinbutton" aria-valuenow="1">
    </span>
    <span class="time-devider">:</span>
    <span class="ui-spinner ui-widget ui-widget-content ui-corner-all">
      <input type="text" id="second" class="ui-spinner-input time-input" ng-model="timerSecond" autocomplete="off" role="spinbutton" aria-valuenow="1">
    </span>
    <span>
      <button class="btn btn-primary" ng-click="setTimer()">Set</button>
    </span>
    <span>
      <button class="btn btn-warning" ng-click="resetTimer()">Reset</button>
    </span>
  </div>
</div>

<div class="contentpanel">
  <div class="row">
    <!-- red corner -->
    <div class="col-sm-4 red-corner corner">
      <h1 class="corner-name">Ao</h1>

      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </span>
        <input type="text" class="form-control" placeholder="Select Player1" ng-disabled="true">
      </div>

      <div class="game-buttons">
        <button class="btn btn-primary" ng-click="increasePoint(1,1)">
          Yuko <span class="badge">1</span>
        </button>
        <button class="btn btn-primary" ng-click="increasePoint(1,2)">
          Waza-ari <span class="badge">2</span>
        </button>
        <button class="btn btn-primary" ng-click="increasePoint(1,3)">
          Ippon <span class="badge">3</span>
        </button>
      </div>

      <div class="text-center undo-button">
        <button class="btn btn-primary" ng-click="undo(1)" title="Undo last" ng-disabled="Player1ScoreArray.length === 0">
          <i class="fa fa-undo"></i>
          <!-- <span class="badge">1</span> -->
        </button>
      </div>


      <div class="warning-holder">
        <div class="warning-controls col-sm-12">
          <div class="col-sm-3 ckbox ckbox-warning" ng-repeat="warning in warningArray">
            <input type="checkbox" id="{{'first_warning_r_'+warning}}" ng-checked="player1WarningArray1.indexOf(warning) > -1" ng-click="toggleWarning(warning,1,1)">
            <label for="{{'first_warning_r_'+warning}}" class="warning-lable">{{warning}}</label>
          </div>
        </div>

        <div class="warning-controls col-sm-12">
          <div class="col-sm-3 ckbox ckbox-warning" ng-repeat="warning in warningArray">
            <input type="checkbox" id="{{'first_warning_r_2_'+warning}}" ng-checked="player1WarningArray2.indexOf(warning) > -1" ng-click="toggleWarning(warning,1,2)">
            <label for="{{'first_warning_r_2_'+warning}}" class="warning-lable">{{warning}}</label>
          </div>
        </div>
      </div>

    </div>
    <!-- mid part with timres and marks -->
    <div class="col-sm-4">
      <div class="row">
        <div class="clock"></div>
        <div class="col-sm-12 corner-both">
          <div class="col-sm-12">
            <h1 class="pull-left game-point">{{Player1Score}}</h1>
            <h1 class="pull-right game-point">{{Player2Score}}</h1>
          </div>
          <button class="btn btn-block start-button" ng-class="{'btn-success':!gameRunning,'btn-danger':gameRunning}" ng-click="toggleTimer()">{{gameRunning?'Stop':'Start'}}</button>
          <div class="category-heading-container row">
            <div class="col-sm-12 text-center category-heading">Warning Category 1</div>
            <div class="col-sm-12 text-center category-heading">Warning Category 2</div>
          </div>
          <progressbar class="progress-striped active timeout-bar" max="100" value="pgrogressValue" type="danger" ng-show="showProgress">
            <i>{{pgrogressValue}} %</i>
          </progressbar>
          <button class="btn btn-block submit-button" ng-click="submit()">Submit</button>
        </div>
      </div>
    </div>
    <!-- blue corner -->
    <div class="col-sm-4 blue-corner corner">
      <h1 class="corner-name text-right">Aka</h1>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Select Player2" ng-disabled="true">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </span>
      </div>

      <div class="text-right game-buttons">
        <button class="btn btn-danger" ng-click="increasePoint(2,1)">
          Yuko <span class="badge">1</span>
        </button>
        <button class="btn btn-danger" ng-click="increasePoint(2,2)">
          Waza-ari <span class="badge">2</span>
        </button>
        <button class="btn btn-danger" ng-click="increasePoint(2,3)">
          Ippon <span class="badge">3</span>
        </button>
      </div>

      <div class="text-center undo-button">
        <button class="btn btn-danger" ng-click="undo(2)" title="Undo last" ng-disabled="Player2ScoreArray.length === 0">
          <i class="fa fa-undo"></i>
          <!--  <span class="badge">1</span> -->
        </button>
      </div>

      <div class="warning-holder">
        <div class="warning-controls col-sm-12">
          <div class="col-sm-3 ckbox ckbox-warning" ng-repeat="warning in warningArray">
            <input type="checkbox" id="{{'first_warning_b_'+warning}}" ng-checked="player2WarningArray1.indexOf(warning) > -1" ng-click="toggleWarning(warning,2,1)">
            <label for="{{'first_warning_b_'+warning}}" class="warning-lable">{{warning}}</label>
          </div>
        </div>

        <div class="warning-controls col-sm-12">
          <div class="col-sm-3 ckbox ckbox-warning" ng-repeat="warning in warningArray">
            <input type="checkbox" id="{{'first_warning_b_2_'+warning}}" ng-checked="player2WarningArray2.indexOf(warning) > -1" ng-click="toggleWarning(warning,2,2)">
            <label for="{{'first_warning_b_2_'+warning}}" class="warning-lable">{{warning}}</label>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--row -->
</div>
<!-- contentpanel -->
