<div class="pageheader">
  <h2><i class="fa fa-trophy"></i> Dojo Mat-{{matId}}
  </h2>
  <div class="controlls" ng-click="stop()">
    SetTimer:
    <input type="text">
  </div>
</div>

<div class="contentpanel">
  <div class="row">
    <div class="col-sm-12 timer">
      <div class="clock"></div>
    </div>
    <div class="col-sm-6 back-red">
      fsdfhdksihf
    </div>
    <!-- col-md-6 -->
    <div class="col-sm-6 back-blue">
      sdfdhsfgdsjfgh
    </div>
    <!-- col-md-6 -->
  </div>
  <!--row -->
</div>
<!-- contentpanel -->
