<div class="pageheader">
  <h2>
    <i class="fa fa-edit"></i> 
    Registration Form
 </h2>
</div>

<div class="contentpanel">
  <div class="panel">
    <div class="panel-body">
      <form class="form-horizontal form-bordered">
        <div class="form-group">
          <label class="col-sm-3 control-label">Profile Picture</label>
          <div class="col-sm-6">
            <div class="col-sm-9 upload-image-group">
              <div class="change-img profile-picture-container">
                <img class="speaker-picture-small">
              </div>
              <div class="change-btn change-img-btn">
                <input class="upload" type="file" id="choose" />
                <a class="btn btn-primary">Upload Image</a>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Name</label>
          <div class="col-sm-6">
            <input type="text" placeholder="Enter name.." class="form-control col-sm-11" name="phoneNumber">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Instructor's Name</label>
          <div class="col-sm-6">
            <input type="text" placeholder="Enter instructor's name.." class="form-control col-sm-11" name="phoneNumber">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Gender</label>
          <div class="col-sm-3 radio clearfix">
            <div class="rdio rdio-primary col-sm-3">
              <input type="radio" value="M" id="male" name="gender" class="ng-pristine ng-untouched ng-valid">
              <label for="male">Male</label>
            </div>
            <div class="rdio rdio-primary col-sm-3">
              <input type="radio" value="F" id="female" name="gender" class="ng-pristine ng-untouched ng-valid">
              <label for="female">Female</label>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="profile.editCompanyProfile">
          <label class="col-sm-3 control-label">Date of Birth
          </label>
          <div class="col-sm-6">
            <div class="input-group col-sm-7">
              <input name="DOB" type="text" class="form-control disabled-input-with-border" datepicker-popup="{{format}}" ng-model="employee.companyProfile.DOB" is-open="DOBOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" disabled="disabled" />
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="DOBOpen($event)"><i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
            </div>

          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Weight</label>
          <div class="col-sm-6">
            <input type="text" placeholder="Enter wieght.. (e.g 45.50 kg)" class="form-control col-sm-11" name="phoneNumber">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Country
          </label>
          <div class="col-sm-3">
            <select name="role" class="form-control">
              <option>India</option>
              <option>Bangladesh</option>
              <option>Nepal</option>
              <option>Others</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Choice of Events</label>
          <div class="checkbox col-sm-2">
            <label>
              <input type="checkbox">Kata
            </label>
          </div>
          <div class="checkbox col-sm-2">
            <label>
              <input type="checkbox">Kumite
            </label>
          </div>
          <div class="checkbox col-sm-2">
            <label>
              <input type="checkbox">Weapons
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Contact Number</label>
          <div class="col-sm-6">
            <input type="text" placeholder="Contact Number" class="form-control col-sm-11" name="phoneNumber">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <div class="col-sm-6">
            <input type="text" placeholder="email" class="form-control col-sm-11" name="phoneNumber">
          </div>
        </div>
        <!-- address-->
        <div class="form-group">
          <label class="col-sm-3 control-label">Address</label>
          <div class="col-sm-6">
            <textarea name="bio" ckeditor="editorOptions" placeholder="Enter address.." class="form-control" rows="5"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6 col-sm-offset-3">
            <button class="btn btn-primary" type="button">Register</button>
            <button class="btn btn-default">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
