<div class="pageheader">
  <h2>
    <i class="fa fa-flag"></i> Sheduled Sheets 
  </h2>
  <div class="breadcrumb-wrapper">
    <pagination boundary-links="true" total-items="events.length" items-per-page="itemsPerPage" max-size="10" ng-model="currentEvent" class="pagination-sm margin-reset" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  </div>
</div>

<div class="contentpanel chart-container">

  <div class="row">
    <div class="col-md-2" ng-repeat="level in levels">
      <div class="level-header text-center">
        <h4>Level-{{level.levelId}}</h4>
      </div>
      <div class="row" ng-repeat="group in level.groups" style="margin-top: {{getOffset(level.levelId ,$index)}}">
        <div class="col-md-12 text-center border-bottom" style="height: {{unitHeight+'px'}}">
          <span class="text-bottom-middle font-red-bold">{{group.player1.name}}&nbsp;({{group.player1.participantId}})</span>
        </div>
        <div class="col-md-12 text-center border-right-bottom" style="height: {{getHeight(level.levelId)}}" ng-show="group.player2" ng-class="{'last-level':isLastLevel(level.levelId)}">
          <span class="text-bottom-middle font-blue-bold">{{group.player2.name}}&nbsp;({{group.player2.participantId}})</span>
        </div>
      </div>
    </div>
  </div>
  <!-- panel -->

</div>
<!-- contentpanel -->
