<div class="pageheader">
  <h2>
    <i class="fa fa-flag"></i> Sheduled Sheets 
  </h2>
  <div class="breadcrumb-wrapper">
    <span class="label">You are here:</span>
    <ol class="breadcrumb">
      <li><a href="index.html">Bracket</a>
      </li>
      <li><a href="buttons.html">UI Elements</a>
      </li>
      <li class="active">Icons</li>
    </ol>
  </div>
</div>

<div class="contentpanel ">
  <div class="row">
    <div class="col-md-2" ng-repeat="level in levels">
      <div class="level-header text-center">
        <h4>Level-{{level.levelId}}</h4>
      </div>
      <div class="row" ng-repeat="group in level.groups" style="margin-top: {{getOffset(level.levelId ,$index)}}">
        <div class="col-md-12 text-center border-bottom" style="height: {{unitHeight+'px'}}">
          <span class="text-bottom-middle font-red-bold">{{group.player1.name}}&nbsp;&nbsp;&nbsp;(Id:{{group.player1.participantId}})</span>
        </div>
        <div class="col-md-12 text-center border-right-bottom" style="height: {{getHeight(level.levelId)}}" ng-show="group.player2">
          <span class="text-bottom-middle font-blue-bold">{{group.player2.name}}&nbsp;&nbsp;&nbsp;(Id:{{group.player2.participantId}})</span>
        </div>
      </div>
    </div>
  </div>
  <!-- panel -->

</div>
<!-- contentpanel -->
